<!DOCTYPE html>
<html>
    <head>
    <title>Page Title</title>
    <meta charset="utf-8"> 
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    
</head>
<body>
    
    <div data-role="page" id="app">
        <div data-role="header">
            <h1>Guestbook</h1>
        </div>
        
        <div data-role="content">
            {% for greeting in greetings %}
                {% if greeting.author %}
                    <b>{{ greeting.author.nickname }}</b> wrote:
                {% else %}
                    An anonymous person wrote:
                {% endif %}
                <blockquote>{{ greeting.content|escape }}</blockquote>
            {% endfor %}
            
            <div data-role="fieldcontain">
            <form action="/sign?{{ guestbook_name_action }}" method="post">
                <div><textarea name="content" rows="3" cols="60"></textarea></div>
                <div><input type="submit" value="Sign Guestbook"></div>
            </form>
            </div>

            <form>Guestbook name: <input value="{{ guestbook_name }}" name="guestbook_name">
                <input type="submit" value="switch"></form>

            <a href="{{ url }}">{{ url_linktext }}</a>
        </div>
        
        <div data-role="footer">
            <h4>P-rose</h4>
        </div>
    </div>
    
    

</body>
</html>
